body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Muli";
  font-weight: 300;
}

h1 {
  font-weight: 200;
  font-style: italic;
  font-size: calc(16px + 2.5vw);
}

h2 {
  font-weight: 200;
  font-style: italic;
  font-size: calc(18px + 1vw);
  transition: 0.5s;
}

h3 {
  font-weight: 200;
  font-style: italic;
  font-size: calc(12px + 0.5vw);
  transition: 1.5s;
}

h3 a {
  text-decoration: none;
  color: #b4b4b4;
  font-weight: 200;
  font-style: italic;
  font-size: calc(12px + 0.5vw);
  transition: 1.5s;
}

h3 a:hover {
  font-style: italic;
  color: #e91b00;
}

h4 {
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
  text-align: center;
  color: #555555;
}

#nav {
  position: fixed;
  margin-top: 25px;
  margin-left: 15px;
  padding: 0;
  z-index: 2;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li {
  display: inline;
  margin-left: 20px;
  font-size: calc(10px + 0.2vw);
}

#nav a {
  text-decoration: none;
  color: #b4b4b4;
  transition: 1.5s;
}

#nav a:hover {
  color: #e91b00 !important;
  font-style: italic;
}

#projects {
  padding-left: calc(34vw - 50px);
  padding-top: 150px;
  padding-right: 16vw;
}

#intro {
  transition: 1s;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.projectname {
  position: relative;
  width: fit-content;
  z-index: 1;
  margin-top: calc(13px + 1.1vw);
}

.projectname a {
  text-decoration: none;
  color: #b4b4b4;
  transition: color 0.5s;
  font-weight: 200;
  font-size: calc(16px + 2.5vw);
}

.projectname a:hover {
  color: #e91b00;
  font-style: italic;
}

.projectname span {
  font-size: calc(10px + 0.5vw);
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: all 0.5s ease;
}

.bg img:nth-child(0),
.projectname:nth-child(1):hover ~ .bg img:nth-child(1),
.projectname:nth-child(2):hover ~ .bg img:nth-child(2),
.projectname:nth-child(3):hover ~ .bg img:nth-child(3),
.projectname:nth-child(4):hover ~ .bg img:nth-child(4),
.projectname:nth-child(5):hover ~ .bg img:nth-child(5),
.projectname:nth-child(6):hover ~ .bg img:nth-child(6),
.projectname:nth-child(7):hover ~ .bg img:nth-child(7) {
  opacity: 1;
  filter: brightness(50%);
}

#mouse {
  height: 25px;
  position: fixed;
  bottom: 20px;
  left: calc(34vw - 150px);
  transition: 1s;
}

#projectstory {
  padding-left: calc(34vw - 50px);
  padding-right: 16vw;
  padding-top: 150px;
  font-size: large;
  line-height: 1.6em;
}

#projectstory2 {
  padding-left: calc(34vw - 50px);
  padding-right: 16vw;
  font-size: large;
  line-height: 1.6em;
}

@media screen and (max-aspect-ratio: 16/10) {
  #mouse {
    visibility: hidden;
  }
  .projectname span {
    display: none;
  }
}

.abouttext a {
  text-decoration: none;
  color: #b4b4b4;
  font-style: normal;
  transition: 1.5s;
}

.abouttext a:hover {
  font-style: italic;
  color: #e91b00 !important;
}

.abouttext {
  line-height: 1.4;
}

#projectinfo {
  width: 100%;
  font-size: 12px;
  table-layout: fixed;
  padding-top: 50px;
}

.projectinfovalue {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  #projectinfo {
    display: none;
  }
}

.projectslider {
  padding-top: 150px;
  padding-left: calc(34vw - 100px);
  display: inline-flex;
}

.sliderbutton {
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-align-items: center; /* Safari 7.0+ */
  align-items: center;
  background-color: transparent;
  border: none;
  width: 30px;
  margin-left: 10px;
  margin-right: 10px;
  outline: none;
}

.sliderbutton:hover {
  background-color: #e4e4e4;
}
.sliderbutton2:hover {
  background-color: #e4e4e4;
}

.prev,
.next {
  fill: none;
  stroke: #b4b4b4;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: 1s ease;
}

.mySlides {
  width: calc(50vw + 50px);
  display: none;
}

.block {
  display: block;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  color: #b4b4b4;
  text-decoration: none;
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 95%;
  max-height: 85%;
  margin-top: 2%;
}

.lightbox p a {
  text-decoration: none;
  color: #b4b4b4;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

#script {
  height: 0px;
  overflow: hidden;
  transition: 2s;
}

#viewscript {
  margin: auto;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  transition: 2s;
  color: #b4b4b4;
  font-family: "Muli";
}

#viewscript:hover {
  font-style: italic;
  color: #e91b00;
}

.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#separator {
  height: 1px;
  width: 50%;
  background-color: #b4b4b4;
  margin-top: 150px;
}

.img50center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.img35center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#soundbitesvideo {
  list-style: none;
  padding: 0;
}

#soundbitesvideo li {
  display: inline;
}

#soundbitesvideo li video {
  width: 23%;
}
