body {
  margin: 0;
  padding: 0;
  top: 0;
  font-family: "Muli";
  font-weight: 300;
}

h1 {
  font-weight: 200;
  font-style: italic;
  font-size: calc(16px + 2.5vw);
}

h2 {
  font-weight: 200;
  font-style: italic;
  font-size: calc(12px + 1vw);
  transition: 0.5s;
}

#nav {
  position: fixed;
  margin-top: 25px;
  margin-left: 15px;
  padding: 0;
  z-index: 2;
}

#nav ul {
  margin: 0;
  padding: 0;
}

#nav ul li {
  display: inline;
  margin-left: 20px;
  font-size: calc(10px + 0.2vw);
}

#nav a {
  text-decoration: none;
  color: #b4b4b4;
  transition: 1.5s;
}

#nav a:hover {
  color: #e91b00 !important;
  font-style: italic;
}

#projects {
  padding-left: calc(34vw - 50px);
  padding-top: 150px;
  padding-right: 16vw;
}

#intro {
  transition: 1s;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
}

.projectname {
  position: relative;
  width: fit-content;
  z-index: 1;
  margin-top: calc(13px + 1.1vw);
}

.projectname a {
  text-decoration: none;
  color: #b4b4b4;
  transition: color 0.5s;
  font-weight: 200;
  font-size: calc(16px + 2.5vw);
}

.projectname a:hover {
  color: #e91b00;
  font-style: italic;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  object-fit: cover;
  transition: all 0.5s ease;
}

.bg img:nth-child(0),
.projectname:nth-child(1):hover ~ .bg img:nth-child(1),
.projectname:nth-child(2):hover ~ .bg img:nth-child(2),
.projectname:nth-child(3):hover ~ .bg img:nth-child(3),
.projectname:nth-child(4):hover ~ .bg img:nth-child(4),
.projectname:nth-child(5):hover ~ .bg img:nth-child(5),
.projectname:nth-child(6):hover ~ .bg img:nth-child(6) {
  opacity: 1;
  filter: brightness(50%);
}

#mouse {
  height: 25px;
  position: fixed;
  bottom: 20px;
  left: calc(34vw - 150px);
  transition: 1s;
}

@media screen and (max-aspect-ratio: 16/10) {
  #mouse {
    visibility: hidden;
  }
}

.abouttext a {
  text-decoration: none;
  color: #b4b4b4;
  font-style: normal;
  transition: 1.5s;
}

.abouttext a:hover {
  font-style: italic;
  color: #e91b00 !important;
}

.abouttext {
  line-height: 1.4;
}

#projectinfo {
  width: 100%;
  font-size: 12px;
  table-layout: fixed;
}

.projectinfovalue {
  text-align: right;
}

@media screen and (max-width: 1000px) {
  #projectinfo {
    display: none;
  }
}

.imagelist li {
  display: inline;
}
